[2022-10-26 11:40] AfshinOnline commented on #1583
@elastic-pangolin Any progress on this ? Great feature for DT.

[2022-10-26 18:49] JN-CSIRT opened #2100 "Repository Error 404 Notification sent for each Maven repository if component PURL not found"
DT 4.6.2.
By adding a java component with PURL "pkg:maven/androidx.activity/activity@1.0.0" and during the analysis,
 DT send  SYSTEM:REPOSITORY Notification for each repository where it is not found (4 of 5 for pkg:maven):
E.g.
"An error occurred while communicating with an MAVEN repository. URL:
https://repo.clojars.org/androidx/activity/activity/maven-metadata.xml HTTP Status:
404. Check log fo

[2022-10-26 21:59] msymons commented on #2075
As a user of Nexus Repository, I would love to see a solution to this Maven problem.  I ran into it when testing repository authenticaton when it was first enabled in 4.6 (SNAPSHOT) back in June 2022.

The authentication worked great...  but when all my up-to-date internal components were then reported as being out-of-date by Dependency-Track (due to snapshots) I decided to delete the internal rep

[2022-10-26 22:27] stevespringett commented on #2075
@msymons sounds like the Nexus repo may be setup in "mixed" mode, which is going to make things more difficult.
https://help.sonatype.com/repomanager3/nexus-repository-administration/formats/maven-repositories

Most repos I've seen have been setup to either accept releases or snapshots, but not both (mixed).

[2022-10-27 23:48] msymons commented on #2075
Our internal releases are in an NXRM repository X of type "hosted" and version policy "release"
Our internal snapshots are are in an NXRM repository Y of type "hosted" and version policy "snapshot"

The actual "download" NXRM repo Z is of type "group" and version policy "release". Z has X and Y as members, along with proxied repos such as maven central, etc.

Thus,  matching comment of @syalioune,

[2022-10-28 03:24] thedevelinmycode commented on #1250
@stevespringett I'm in a similar boat. I set the "Component namespace regex" in Home > Administration > Configuration > Internal Components to ".*progeny.*" and I tried "net\.progeny.*" and had no success with identification of internal components. So I'm not sure if I'm doing something wrong, or I'm not understanding how the namespace regex works.

My project is structured like:
[code]
It's a mul

[2022-10-28 04:19] njakubiak commented on #1732
I also would like clone of a project to copy the policy violation suppressions.

[2022-10-28 10:45] syalioune commented on #2075
@sischi I'm curious about the credentials you configured in DT frontend. Since, you're using Gitlab which doesn't provide a basic auth capability to its rest api (to my knowledge) and DT only perform basic auth, it should not work anyway

[2022-10-28 11:27] sischi commented on #2075
@syalioune Yes, I did some research about that when I saw that DT will support basic authentication for private repositories. I currently have no reference but I found, that Basic Authentication will work if you simply use the token generated in gitlab as a basic auth password and I can confirm that it works.

[2022-10-28 13:36] AndrewR777 opened #2104 "'Enable fuzzy CPE matching' options lead to I/O Exception in the FuzzyVulnerableSoftwareSearchManager"
Selecting '**Enable fuzzy CPE matching**' options leads to **I/O Exception** in the FuzzyVulnerableSoftwareSearchManager

### Steps to Reproduce:
One may reproduce the error on a clean install.
I used Ubuntu 22.04 clean image with 30 GB HDD and 16 GB RAM.

I started as a sudo user and switched to root:
`sudo -i`
Than I installed Docker:
[code]
and the latest (4.6.2) version of Dependency Track:
[c

[2022-10-28 14:15] jensborrmann opened #2105 "Display last BOM upload within project views"
### Current Behavior:

Currently the "Last BOM Import" for a project can be found in the overview table for all projects.

### Proposed Behavior:

I would like to find this information within the project view.
As I could verify the information is already available in the frontend via /api/v1/project/

Possible locations:

- on the "Overview" tab for the project as subtitle for "Components"
- on th

[2022-10-28 14:33] jensborrmann commented on #2105
Sorry, it's a duplicate: https://github.com/DependencyTrack/frontend/issues/147

[2022-10-28 14:33] #2105 closed

[2022-10-28 14:36] syalioune commented on #1943
@nscuro @stevespringett If that's ok for you, i can work on this one.

[2022-10-28 16:06] proteus-russ commented on #2104
I upgraded from 4.5 to 4.6.2 and am seeing this error in the log as well. Although, I haven't noticed any missing vulnerabilities after I enabled the new fuzzy matching options.

[2022-10-29 04:53] AndrewR777 commented on #2104
Hi [proteus-russ](https://github.com/proteus-russ), thank you for prompt confirmation!

I downloaded the image with 4.5.0 and compared the results with 4.6.2, using two very simple projects.
The latest version gives less (valid) vulnerabilities compared to 4.5.0, because of the problem with FuzzyVulnerableSoftwareSearchManager:
56->50
39->30 vulnerabilities.

This is how you can easily reproduce i

[2022-10-31 05:06] AndrewR777 commented on #2104
All in all, I wanted to emphasize, how important  the Fuzzy Logic module is; it would be great if we could use it again....

[2022-10-31 12:00] msymons commented on #1563
[CVE JSON Record Format 5.0.0](https://github.com/CVEProject/cve-schema/releases/tag/v5.0.0) released 26th Oct 2022

[2022-10-31 14:08] BlythMeister opened #2107 "Support Triage Multiple Projects At Once"
### Current Behavior:

Go to each project.
View vulnerability audit
Update/Triage vulnerability
Repeat for many projects

### Proposed Behavior:

Bulk update the projects effected (on vulnerability screen)
Appy the same triage to multiple projects at the same time.
Useful for situations like "Not Affected" -> "Protected by Runtime" when you have multiple projects which all have a patched runtime
O

[2022-11-01 10:06] sahibamittal opened #2109 "Add reported-by for vulnerability aliases"
### Current Behavior:

A vulnerability may have different aliases reported by different data sources. But, we don't store the info of who is providing a specific alias info for that vulnerability.

### Proposed Behavior:

Add 'Reported By' info for each alias of vulnerability. This would also reflect in notification content and can be useful for internal filters on duplicated vulnerabilities (from

[2022-11-01 10:13] syalioune opened #2110 "Complete the metrics exposed by Dependency Track for better monitoring"
### Current Behavior:

Since v4.6, Dependency Track expose some metrics using the couple [Micrometer](https://micrometer.io/) and [Prometheus](https://prometheus.io/). Most of the metrics (if not all are directly provided by Alpine framework) and are related to technical components of DT :

- JVM
- ExecutorService
- HikariCP pool
- DataNucleus
- Alpine Event subsystem

It could be interesting for

[2022-11-01 10:38] msymons commented on #2075
I have tested the fix of @syalioune in the latest 4.7 SNAPSHOT and things are now working great for me.  In fact, better than great,  I did not realise just how useful it would be to see "Latest Version" information for internal components until it was actually working!

So, from my perspective, this issue can be closed as "completed in 4.7".  As long as @sischi is happy.

[2022-11-01 10:58] sischi commented on #2075
Thanks for your support @syalioune and @msymons! I have not tested it yet, but your implementation looks great, @syalioune.

Yes @msymons I'm very happy now 😊 so I will close this issue. Good job 👌

[2022-11-01 10:58] #2075 closed

[2022-11-01 18:03] jerrylogansquare commented on #1693
We also noticed this too, sort of pain to address these 'withdrawn' vulnerabilities.  It really screws up our metrics gathering and having to explain 'oh no, that one critical vuln is not really a vuln' etc.  This is no fault of DT of course.  Should we be badgering Github Advisory Database maintainers to remove?

[2022-11-01 23:18] nscuro commented on #2023
Implemented in #2101.

[2022-11-01 23:18] #2023 closed

[2022-11-02 12:02] msymons commented on #1693
I do not think that advisories should be removed...  that would lead to confusion when vulnerabilities just poof from VEX, etc.

I think that it is important to be able to mantain a full audit trail of such "state changes".

Remember also that this problem will affect more than just GHSA.  I have seen withdrawn CVE.  Then there's Snyk, Sonatype OSSIndex, etc.

I would expect analyser APIs to handl

[2022-11-02 14:49] mveck commented on #1546
Finding similar problems, where our own internal investigation shows that:
- CVE is known in the NVD (CVE-2020-11440)
- CVE is linked to a component in the project (cpe:2.3:o:windriver:vxworks:7.0:-:*:*:*:*:*:*)
- Link is found by our internal tooling which should link to DT and should give similar results.
- Vulnerability is correctly registered in DT (VULNID can be found using CVE)
- Vulnerable-

[2022-11-03 11:53] Swapnil-CSI commented on #2063
I faced similar issue today. Here are the logs.

[code]

dependency-track-apiserver server logs

[code]

Manually downloaded the 2020 NVD files.
[code]

[2022-11-03 15:30] nscuro commented on #1815
Update: As of now, it's *only OSV* that does not "cleanup after itself". It just appends new `VulnerableSoftware` entries to whatever is there already. Both the NVD and GHSA mirroring only persist the affected version ranges that are reported during their current task execution, everything else will be dropped implicitly. They do not keep historic data, and even override what's reported by OSV rig

[2022-11-03 16:42] stevespringett commented on #2063
If there's a defect, it likely will not be fixed because the NVD has deprecated the feeds and will be removing support for them. Dependency-Track will as well. See #1861

[2022-11-03 18:15] valentijnscholten opened #2113 "OSS Index API key form: submit of unchanged details shouldn't clear the API Token"
The defect may already be reported! Please search for the defect before creating one.

### Current Behavior:
When browsing to the OSS Index api key config page and presseing 'Update' will remove the API Token. Or at least  it changes it into something making DT believe there is no token. The UI still shows the green ticks making the user believe all is still well.

### Steps to Reproduce:
Configur

[2022-11-03 18:25] valentijnscholten commented on #2113
Of course now I can't reproduce it anymore. Closing.

[2022-11-03 18:25] #2113 closed

[2022-11-03 22:18] lme-nca commented on #1926
I really like the idea of this feature and this might be something that we could use at my company as well!

However this seems like more a feature that should be build in Defectdojo than in Dependencytrack, i.e Defectdojo should get API token access to Dependencytrack and send supressions to the issues back to DependencyTrack.
Alternatively Dependency-track could poll the findings inside Defectdo

[2022-11-03 22:36] nscuro commented on #1559
Dabbling with this right now, as the issue with the CLI has since been fixed.

The BOM generated during the Maven build can be merged with the service BOM using the `exec-maven-plugin`:

[code]

My suggestion would be to have `${bom-merge.skip}` default to `false` so that the build won't fail when folks don't have the CLI installed. There's already a build step that copies the BOM to `.well-known/

[2022-11-04 07:26] syalioune commented on #2063
From what I can gather, I believe there are different issues at play here :

1. DT NvdMirrorServlet returning 304 not modified

Neither Dependency Track nor Dependency Check can handle status 304 upon NVD feed download. Only status 200 is expected by DT https://github.com/DependencyTrack/dependency-track/blob/2f6a7e504d60ef17a7bb621d0d77a942563a75c8/src/main/java/org/dependencytrack/tasks/NistMirr

[2022-11-04 07:40] syalioune commented on #1559
I would personally expect the analysis tasks to run on the created project so that I can set up notifications for administrators.

[2022-11-04 08:19] Swapnil-CSI commented on #2063
@syalioune I do not see other errors on pod.
I seen the error when I tried to use the NVD mirrors at 11:29:52
[code]

[2022-11-04 14:45] donaldedwin commented on #1074
If you used docker to set it up then go to the docker file and put the IP or domain name of your server as the API url. Initially it says localhost:8081/api etc. Because of that CORS will block any attempts to the make the request because it will be using an assumption that its a request from entirely another domain.

[2022-11-04 16:21] gjfvieira opened #2114 "Integrations DefectDojo - new REST API method to force project sync"
Hi all,

Is there a way to trigger the sync with DefectDojo for a specific project via DepTrack REST API ?

The idea is to integrate both tools on a CI/CD and whenever a bom is uploaded and processed successfully it would automatically feed DefectDojo with the results.
It would also be nice to have the "auto create" product/engagement feature available - I've noticed that this is already on your b

[2022-11-04 16:33] mulder999 commented on #1374
Regarding Debian packages `1.1.1n-0+deb11u3` does not corresponds at all to upstream `1.1.1n`, many additional patches have been applied as mentioned by @muellerst-hg.

Unsure if there are any easy fix.
Some integration with debian [security-tracker](https://security-tracker.debian.org/tracker/source-package/openssl) might be required...

[2022-11-04 16:46] nscuro commented on #2114
Hey @gjfvieira, thanks for reporting.

The DefectDojo integration is community-maintained. We'd be happy to accept PRs that implement your request,
but it's unlikely that the core team has the capacity to work on this anytime soon.

[2022-11-04 18:02] gjfvieira commented on #2114
Hi @nscuro

Thanks for your swift reply.
Sure no worries, I'm not familiar with the code but I'll give it a try!
I believe this feature will be helpful not just for me.

I'm closing this issue for now.

Cheers

[2022-11-04 18:04] nscuro commented on #2114
No need to close it! I added the *help wanted* label so folks who are interested in contributing may pick it up. :)

[2022-11-04 18:22] valentijnscholten opened #2115 "Vulnerability Analysis Cache expiry erroneuously reduced to 14.4 minutes"
### Current Behavior:
The Vulnerability Analysis Cache expiry time was reduced from 24h to 14.4 minutes by mistake in #1841

[https://github.com/DependencyTrack/dependency-track/commit/ac6186cd3f7c8d3731cac5ba944732df3ba6fda4#diff-4a2691c1673ee2620[…]62f4d1d6eada58a83596L73](https://github.com/DependencyTrack/dependency-track/commit/ac6186cd3f7c8d3731cac5ba944732df3ba6fda4#diff-4a2691c1673ee2620dd

[2022-11-04 18:27] valentijnscholten opened #2116 "Add an "Analyze now" button to Projects"
### Current Behavior:
Currently projects are re-analyzed every 24 hours (or as configured by the admin).

### Proposed Behavior:
Sometimes there is a need to do an immediate analysis, for example when a important vulnerability has come out, or you're preparing a release. In this scenario it might help to have an Analyze Now button to analyze a project right now.

### Notes
- Currently a user can a

[2022-11-04 18:32] valentijnscholten opened #2117 "Add a Clear Analysis Cache button"
### Current Behavior:
Currently the vulnerability analysis cache cannot be cleared by users or admins. The expiry time cannot be configured in the UI, only via the API.

### Proposed Behavior:
Add a way for users or admins to clear the analysis cache. This can be helpful if you need a accurate/current analysis result for the next vulnerability analysis run.

### Notes
- Should it be for admins onl

[2022-11-04 19:09] Mvld3r opened #2118 "Add a Jira Publisher to publish Dependency Track alerts to Jira tickets"
Add a Jira Publisher to existing [Publishers](https://docs.dependencytrack.org/integrations/notifications/#configuring-publishers) to publish Dependency Track alerts to Jira tickets

This ER is related to #1583 but narrower in scope in hopes that it will be integrated to the codebase quicker.

[2022-11-04 19:15] valentijnscholten opened #2120 "Allow sorting the list of vulnerabilities by by number of affected projects (DESC)"
### Current Behavior:
The list of vulnerabilities cannot be sorted by number of affected projects.

### Proposed Behavior:
The list of vulnerabilities "should be" sortable by number of affected projects. In some scenario's it's useful to focus on most common vulnerabilities in the portfolio.

### Notes
I looked at the code and it currently does more than just query the database and return a list o

[2022-11-04 19:17] valentijnscholten commented on #2120
duplicate of #122

[2022-11-04 19:17] #2120 closed

[2022-11-04 20:13] nscuro commented on #2115
@stevespringett Do we want to have a 4.6.x release for this?

[2022-11-04 20:27] stevespringett commented on #2115
We likely should, yes

[2022-11-05 19:25] nscuro commented on #1559
I raised a draft PR and would appreciate feedback on how this feature should behave: https://github.com/DependencyTrack/dependency-track/pull/2124

[2022-11-05 21:54] valentijnscholten opened #2125 "Include Snyk and OSV services.bom.json"
I think SNYK and OSV should be added as inbound service in `services.bom.json`?

[2022-11-05 22:09] nscuro commented on #2125
Yup, good find!

[2022-11-06 09:16] mulder999 opened #2127 "API: /api/v1/search/project should not return deleted projects"
### Current Behavior:

`/api/v1/search/project` and `/api/v1/search` returns deleted projects

### Steps to Reproduce:

1. Create a new project
2. Upload a SBOM
3. Search for the project using `/api/v1/search/project` and `/api/v1/project` to confirm everything is working
4. Delete project and wait until it is deleted
5. Search using `/api/v1/project` and confirm the project is no longer found. Wa

[2022-11-06 09:17] valentijnscholten commented on #2126
Good idea. Please note there's also:
- `project/tag/` to search by tag
- `lookup` to search by name+version

[2022-11-06 09:41] mulder999 commented on #2050
I believe keeping track of different versions is also interesting. To solve your issue, there are already 2 possibilities:

1. Send SBOM using an existing UUID
2. Update version prior to send SBOM and make sure you set `autoCreate` to false

[2022-11-06 09:55] mulder999 opened #2126 "API: Add more search criteria for projects"
More search criteria should be proposed to find projects through API.
Ideally we would like to search through all standard and custom properties.

### Current Behavior:

- `/api/v1/project` supports `name` and undocumented `searchText` but it search only through name

REM:
-  `/api/v1/search` and `/api/v1/search/project` searches only through name but it is likely ok as this

### Proposed Behavior

[2022-11-06 19:51] valentijnscholten commented on #2127
Just to be sure, did you see https://github.com/DependencyTrack/dependency-track/issues/1605?

[2022-11-06 20:55] mulder999 commented on #2127
@valentijnscholten thanks for pointing #1605, I missed it. Seems the improvements for 4.5 and 4.6 are still not ok then...

[2022-11-06 22:26] #1534 closed

[2022-11-06 22:26] #1632 closed

[2022-11-06 22:49] msymons opened #2130 "Implement Support for Project Policies"
### Current Behavior:
As of v4.6.x, the policy system in Dependency-Track is based around components only.  There is no support for policies that operate at the project-level.

### Proposed Behavior:
Expand the policy "engine" to implement support for policies that operate on projects rather than components.
A couple of use cases:
* policy that alerts when project has not had a BOM uploaded for XX

[2022-11-07 06:53] g-sahil22 opened #2131 "Error while uploading same SBOM Second time"
The defect may already be reported! Please search for the defect before creating one.

### Current Behavior:
When I upload the SBOM in Dependency Track for the First time in a new project it uploads successfully without any error logs and also reports the correct number of Components, but I upload the same SBOM in the same project again it shows error logs and reports the incorrect count of compon

[2022-11-07 08:20] x24thkk opened #2133 "About Defectdojo import scan"
when I use dependency-track(master) and defectdojo(2.16.0 )
I found the api cannot implement upload the findingjson

file: src/main/java/org/dependencytrack/integrations/defectdojo/DefectDojoClient.java
Class uploadDependencyTrackFindings And Class reimportDependencyTrackFindings

the findingsJson filed is inputstream , use the way will give an error. the server return status code 400 ,
  I think

[2022-11-07 08:24] x24thkk commented on #2133
I think the problem is with unirest

[2022-11-07 08:26] yruss972 commented on #2104
Also having these errors on v4.6.1

[2022-11-07 13:20] jakobpinggera commented on #2131
We are experiencing the same issue. Interestingly, it does not seem to be deterministic whether the issue arises.

I uploaded the same BOM file twice (to a project that already had processed BOM files in the past). On the first try, the exception occurred. A minute later, the same file got processes successfully.

`
2022-11-07 13:14:16,580 [] INFO [org.dependencytrack.tasks.BomUploadProcessingTask

[2022-11-07 20:29] valentijnscholten opened #2134 "Composer Meta Analyzer Exceptions"
### Current Behavior:
Log is full of Exceptions of the Composer Meta Analyzer:

[code]

### Steps to Reproduce:

### Expected Behavior:
No exceptions or another log level for non critical errors

### Environment:

  - Dependency-Track Version: 4.6.1
  - Distribution: Docker
  - BOM Format & Version: n/a
  - Database Server: PostgreSQL
  - Browser: n/a

### Additional Details:
[Source code: https:/

[2022-11-07 20:39] valentijnscholten opened #2135 "NullPointerException during policy evaluation"
### Current Behavior:
[code]

https://github.com/DependencyTrack/dependency-track/blob/6c6ceadaaa86e1c1da7d8035eeaa1c950b0cb7b4/src/main/java/org/dependencytrack/policy/CoordinatesPolicyEvaluator.java#L98-L102

### Steps to Reproduce:
Might be this policy we have with no version in coordinates field:

![image](https://user-images.githubusercontent.com/4426050/200411091-e8493084-6fe3-4956-96d0-c0de

[2022-11-07 20:48] valentijnscholten commented on #2135
Diving further into the code it looks like a '*' might be valid way to match all versions. The tooltip is not very clear about this.

![image](https://user-images.githubusercontent.com/4426050/200412157-e33dd50e-4804-45c8-84f7-e4b334da8519.png)

Either way a empty value should not be accepted, or maybe it should be treated as '*' / default matching.

[2022-11-07 21:00] mulder999 commented on #2127
After stop, clean of indexes and restart, only `vulnerabilites` folder is populated. Project search is now always empty. Attempted several times without any difference and no corresponding error in the logs.
Unsure if I would call that a success.

[2022-11-08 01:06] antonsulim0000 opened #2136 "Project version retention policy"
### Current Behavior:
There is no standard automated way of stale project version deletion

### Proposed Behavior:
Implement general retention policy that keeps N most recently uploaded versions of the project

Relates to [BOM Retention Policy](https://github.com/DependencyTrack/dependency-track/issues/877)
See discussion in [#proj-dependency-track](https://owasp.slack.com/archives/C6R3R32H4/p1664

[2022-11-08 23:04] rkg-mm commented on #1211
@stevespringett Since this is something I need too, to be able to use some custom licenses in policies, how would you expect this to work in its easiest way? Would an API endpoint to add a new license to the existing license-table be enough? From what I see, the LICENSEID is a required column and other code probably relies on it, so one would have to define that ID even though its not the SPDX id.

[2022-11-09 10:57] rkg-mm opened #2139 "Missing project information in "New vulnerable dependency" alert mail"
### Current Behavior:
![image](https://user-images.githubusercontent.com/12029804/200812153-59a048ed-1c23-4970-a7ae-1cdca610c555.png)

### Steps to Reproduce:
Probably just introduce a vulnerable dependency, not sure if it happens always

### Expected Behavior:
The Project information and links should not be empty

### Environment:

  - Dependency-Track Version: 4.6.2
  - Distribution: Docker
  -

[2022-11-09 12:55] nscuro commented on #2133
Did you check the logs of DefectDojo for any hints as to what's going wrong?

Considering folks use the DD integration, and the way files are uploaded hasn't changed, I suspect there is something else causing the issue you're experiencing.

[2022-11-09 16:12] x24thkk commented on #2133
sure

denpendency logs:
[code]

DefectDojo logs:
[code]

The above log shows status code 400,
but use new file and give file path , it will succeed

i need your help, please

[2022-11-09 18:09] nscuro commented on #2131
FWIW this is happening when the BOM includes duplicate components. The `reconcileComponents` method is relying on the persistence layer to determine whether two components are equal. It's possible that >1 components in Java end up being mapped to the same database row. When deleting such a component in Java, the backing DB row is deleted by the ORM, but the other Java component instances that mapp

[2022-11-10 03:58] stevespringett commented on #1211
I would not want to do this. I'm not sure if there's an SLA, rate limiting, etc in place on their service. I would rather fetch the JSON files from their GitHub repo upon database initialization.

License.licenseId is not a required field in DT. So we could add the non-SPDX licenses by name only, OR we could use the scancode license IDs that begin with LicenseRef-*

Yes, that would work.

The best

[2022-11-10 13:54] valentijnscholten opened #2141 "JDODataStoreExceptions after startup"
### Current Behavior

I have now seen 3 occasions of the below problem, maybe someone recognizes this.

We're running DT 4.6.2 in docker in ECS with  postgres RDS instances as datastore and a volume for the DT /data directory.

Every week updates are installed on the Docker host OS (EC2, Debian 11). This usually triggers an EC2 restart, and thus a docker restart.

The containers come up succesfull

[2022-11-10 19:36] #2116 closed

[2022-11-10 20:48] hbekkema commented on #319
BUMP.  This is really annoying behavior.

[2022-11-11 00:02] nscuro commented on #2141
Taking a wild guess here, this really looks like an issue in DataNucleus' query compilation and / or [caching](https://www.datanucleus.org/products/accessplatform_6_0/jdo/query.html#cache).

The fact that the issue persists after it occurred for the first time, but is fixable by a restart strongly suggests that the query caching is playing a role.

[2022-11-11 08:29] valentijnscholten commented on #2141
Initialization of those caches maybe. It happened now every time we installed Debian updates on the host and restarted the host. Possibly since the upgrade to 4.6.x. I wonder what could cause the initialization of something to fail. The database is remote in RDS and available all the time. Will try to enable DEBUG logging for datanucleus. Looking at the code they are logging parameters etc, so tha

[2022-11-11 11:05] github-itsec-oculavis commented on #1520
I am facing the same issue.

[2022-11-11 11:16] github-itsec-oculavis commented on #1520
I am facing the same issue of CORS. Followed all steps.

![Image1](https://user-images.githubusercontent.com/105426606/201329440-a907eaff-bd15-4f8c-b021-3974c7881fef.PNG)

[2022-11-11 11:19] #2133 closed

[2022-11-11 16:20] BlythMeister opened #2144 "Support Regex on Policy PURL"
### Current Behavior

Condition PURL is not match `.*myCompayName.*`

### Proposed Behavior

Do not match on compoents which have a PURL patch

### Checklist

- [X] I have read and understand the [contributing guidelines](https://github.com/DependencyTrack/dependency-track/blob/master/CONTRIBUTING.md#filing-issues)
- [X] I have checked the [existing issues](https://github.com/DependencyTrack/depen

[2022-11-11 16:21] BlythMeister opened #2145 "Policy Support "Not Internal Component""
### Current Behavior

I want to not run a policy on internal components

I.e. I want a policy for any component with no licence that isn't internal

### Proposed Behavior

Add support for internal component on policy filter

### Checklist

- [X] I have read and understand the [contributing guidelines](https://github.com/DependencyTrack/dependency-track/blob/master/CONTRIBUTING.md#filing-issues)
-

[2022-11-11 16:38] BlythMeister opened #2146 "Policy Duplication"
### Current Behavior

Package matches on a "All" condition
Policy Example
![image](https://user-images.githubusercontent.com/1046836/201387339-d2075f61-7471-4e5a-8636-3fc51079bb41.png)

This reports 3 policy failures per package
![image](https://user-images.githubusercontent.com/1046836/201386952-b0cdc44a-dd71-44c9-8106-94923b618a3d.png)

### Steps to Reproduce

1.Create policy which has multiple

[2022-11-11 16:51] BlythMeister opened #2147 "Policy Check (OSI Approved)"
### Current Behavior

Create a list of OSI approved licences manually

### Proposed Behavior

Support policy for "OSI Approved" Licence

### Checklist

- [X] I have read and understand the [contributing guidelines](https://github.com/DependencyTrack/dependency-track/blob/master/CONTRIBUTING.md#filing-issues)
- [X] I have checked the [existing issues](https://github.com/DependencyTrack/dependency-t

[2022-11-13 20:19] github-itsec-oculavis commented on #1520
I have resolved CORS issue by adding additional parameters:
[code]
However 504 error is still there unable to access xxx:8443/api/*.

[2022-11-14 05:47] sgupta22altair commented on #2131
Hi @nscuro, Thanks for the information, I have one question is this issue related to SBOM?

[2022-11-14 07:11] ex33xv commented on #1520
@stevespringett agree, but why don't DT use this "simple" approach as default but rather expose API server via HTTP? As you said , this is what most organizations do today, and most of them hide API server behind Nginx reverse proxy. DT is a cybersecurity focused tool, and I believe most people agree using Https rather than Http for better security. Just don't get it why DT still stick on Http?

[2022-11-14 07:19] ex33xv commented on #1520
@bytew0lf  @alexbartok https works via this when connecting to dtrack-frontend, but  dtrack-apiserver still expose port 8081 via http to outside, can we hide it from being exposed?

[2022-11-14 07:57] github-itsec-oculavis commented on #1520
Access issue also resolved, that was of misconfigurations of ports at host machine, everything is working now, Thanks @bytew0lf  and everyone else who contributed.

[2022-11-14 10:55] Breee opened #2150 "Group Sync with Azure AD via graph.windows.net does not seem to work anymore."
### Current Behavior

### Basic Information
- We are using Azure AD as identity provider.
- OIDC group sync does not work anymore for us.
- If we disable group sync we can log in successfully.
- We did not change Dependencytrack, nor did we change our Azure AD app registration.

### Configs
[code]

### Claims + Logs

Logs:
[code]

Dependency track received ID token contains something similar to:
[

[2022-11-14 11:17] muellerst-hg commented on #2150
Regression in 4.6?
The same setup works with 4.5.0

[code]

[2022-11-14 11:31] nscuro commented on #2150
To me this part seems off:

The `groups` claim should be on the root level of the JSON object, instead it is wrapped in a `_claim_names` object. In @muellerst-hg's case it is not this way.

We did not (knowingly) change anything related to OIDC in 4.6. But of course it's always possible that the library we leverage for OIDC is causing a different ID Token layout to be returned for Azure AD.

[2022-11-14 11:47] Breee commented on #2150
Yep,  in both cases we used the same Azure AD app registration

[2022-11-14 12:05] Breee commented on #2150
In 4.6: oauth2-oidc-sdk version 9.43
In 4.5: oauth2-oidc-sdk version: 9.35

I did not dig into the code / releases tho.
I mean we could build DT with 9.35 and see if this fixes it.
 I can probably test that locally

[2022-11-14 12:20] nscuro commented on #2150
Changelogs are [here](https://bitbucket.org/connect2id/oauth-2.0-sdk-with-openid-connect-extensions/src/master/CHANGELOG.txt), but nothing obvious between those versions that could cause this behavior.

Found [this](https://stackoverflow.com/a/55464397) regarding the `_claim_names` claim:

[2022-11-14 16:09] BlythMeister commented on #1319
I've replicated this on 4.6.1 whereby policy status updates missing subject

[2022-11-14 16:12] lsoumille opened #2151 "Same vulnerability is reported several times"
### Current Behavior

In our DependencyTrack instance for some components, we have duplicates vulnerability reports. See associated screenshots.

![image](https://user-images.githubusercontent.com/9105500/201707945-a0a892a3-b354-4ef2-834d-c79b5a9510b4.png)

After digging in DependencyTrack databases we can several entries in the table COMPONENTS_VULNERABILITIES but we don't understand how that's p

[2022-11-14 16:53] rkg-mm commented on #1211
@stevespringett not sure if you got my idea, i wasn't thinking about integrating the other license sources. More useful for me is a way to just simply create my own licenses via API. Thats what I was talking about. We just created a PR for this simple solution.

[2022-11-15 00:38] tokcum commented on #1677
I'm planning to use Trivy to generate SBOMs. Trivy can add the results of its own security vulnerability scan to the CycloneDX formated SBOM. However, when I import this SBOM file into DT only the components are imported. Vulns detected by Trivy don't make it into DT.

That's very unfortunate, as Trivy detected more vulns than DT. It would be great to see this happen. What does it take to push thi

[2022-11-15 01:34] stevespringett commented on #1677
@nscuro We need to think of a few different scenarios:

1) Import BOMs with embedded VDR (what this ticket is describing)
2) Import VDR BOMs (without component inventory)
3) Import Bill of Vulnerabilities

IMO, I think 1 and 3 will likely be the most used.

[2022-11-15 08:34] #1815 closed

[2022-11-15 19:06] jerrylogansquare commented on #1894
Our DT 4.5 comes up with 486 vulns, but NVD shows 1195
Also saw same on DT 4.6.2

https://nvd.nist.gov/vuln/search/results?form_type=Advanced&results_type=overview&isCpeNameSearch=true&seach_type=all&query=cpe:2.3:o:linux:linux_kernel:5.4.154:*:*:*:*:*:*:*

[2022-11-16 03:34] stevespringett commented on #1872
I think the use cases need to be very clear between importing VDR and VEX as they are entirely different things.

Refer to:
https://cyclonedx.org/capabilities/vdr/
https://cyclonedx.org/capabilities/vex/

I'm not aware of any use case (other than audit and IAST tools) where a BOM will contain VEX.

However, many security tools support BOM with VDR. This will be a common use case, but there's alrea

[2022-11-17 09:22] adioe3 commented on #1674
Why not just allow users to decide how to handle tags? Just provide a `tagMergeStrategy` or whatever field so it's something like:

[code]

the merge strategy can then be `merge`, `overwrite`, or `ignore` tho ignoring makes little sense in this context.

[2022-11-17 17:44] valentijnscholten commented on #1674
I think the most common use case is just to be able to provide some tags when uploading a BOM to not yet existing project. Would it be OK to start with a PR that supports that? If the project exists, tags will just be added to the existing tags.

A more complex implementation with a merge strategy could also be done, but makes things more complex. And it doesn't support all use cases. For example

[2022-11-17 19:08] av1n95h opened #2162 "SBOM import- PURL's are not entered"
### Current Behavior

Hi,

When i try to import sbom file CycloneDX 1.4 format into dependency tracker, the PURL's are not identified after the import.

The sbom in cyclonedx format is crated using cyclonedx-cli tool where i'm converting csv file into sbom. I used the same fields that are in dependency tracker.

### Steps to Reproduce

1. This is the file csv file
2.
[bom.csv](https://github.com/D

[2022-11-17 19:31] stevespringett commented on #2162
The purls specified do not conform to the purl specification and are invalid. I would recommend reaching out to the maker of the tool that originally created the purl and have them correct the issue. In this case, `pkg:nuget\\` should be replaced with `pkg:nuget/` to make the purl valid.

[2022-11-18 00:36] ddurham2 commented on #2076
I've seen the same thing happen on our end.

Thankfully, the cyclonedx-npm tool supports a --short-PURLs argument which shortens the URLs at the cost of losing some information.  It's a stopgap until this is fixed.

[2022-11-18 07:50] muellerst-hg commented on #2062
Version detection fails for certain Debian packages.

See #1374

[2022-11-18 09:08] nscuro commented on #1211
FTR, I think the enhancement implemented in #2153 is a good compromise between wanting more flexibility and keeping the model clean. Admin users will be able to add licenses if desired, but there is no automatism to pollute the table. It does not address the original ask in this ticket though, so I'll leave this open.

[2022-11-18 09:19] #2115 closed

[2022-11-18 10:01] gamma opened #2165 "Can not create or delete project"
### Current Behavior

Creating or deleting a project results in errors and an NPE. The creation still works, but the deletion does not

[code]

### Steps to Reproduce

1. Set up fresh docker instance with minimal settings
2. Create or delete a project in the UI
3. NPE as stated above

### Expected Behavior

Project is created or deleted

### Dependency-Track Version

4.6.2

### Dependency-Track Di

[2022-11-18 10:07] gamma opened #2166 "Can not PUT bom with autoCreate:true"
### Current Behavior

With the simplest docker setup, using the team Automation with permissions: BOM_UPLOAD, PORTFOLIO_MANAGEMENT and PROJECT_CREATION_UPLOAD it is not possible to PUT a new project BOM. The project always errors into `The principal does not have permission to create project.`

Insomnia log:

[code]

### Steps to Reproduce

1. Set up fresh docker instance of dependency track
2. fe

[2022-11-18 10:19] gamma commented on #2165
Possible issue in docker compose file (modified)

[code]

[2022-11-18 10:19] gamma commented on #2166
Possible issue in docker compose file (modified)

[code]

[2022-11-18 11:22] nscuro commented on #2166
Hey @gamma, disabling authentication and / or authorization is not supported in Dependency-Track. Please try again with those properties enabled (or omitted, they should default to `true`).

[2022-11-18 12:31] nscuro commented on #2150
In the current OIDC logic we don't handle any non-standard cases. In order to resolve this issue with Azure AD, we'd need to have extra logic in the [profile creation](https://github.com/stevespringett/Alpine/blob/157958bfe7fa5ad95e653667f7ce3282aed23af1/alpine-server/src/main/java/alpine/server/auth/OidcAuthenticationService.java#L127) to fetch groups from the AAD API if we encounter `_claim_name

[2022-11-18 17:08] dkeason opened #2168 "search/project should work on any field, and should be able to specify field"
### Current Behavior

search/project API only searches within name, uuid, version, and API cannot specify which field to match upon (it matches on any of the three)

### Proposed Behavior

search/project API can search on any field, and should be able to specify which field to match upon.

Bonus points for being able to use comparison operators for numeric values (like epssScore).

For example, be

[2022-11-18 17:32] ariyonaty commented on #2131
We're noticing similar behavior to @nscuro mentioned when uploading the same BOM multiple times. The first upload to Dependency Track matches the number of components listed in the BOM. However each upload of the same BOM after that (to the same project name/version) results in a decreased count.

In particular, this only occurs with merged BOMs (using `cyclonedx-cli`), such as when merging a lang

[2022-11-19 20:09] samrocketman commented on #653
I have proposed:

* Frontend UI changes: https://github.com/DependencyTrack/frontend/pull/334
* Backend apiserver changes: https://github.com/DependencyTrack/dependency-track/pull/2169

[2022-11-20 15:03] #2118 closed

[2022-11-21 05:30] gamma commented on #2166
That was the problem. Thank you..

[2022-11-21 05:30] #2166 closed

[2022-11-21 10:53] nscuro commented on #2104
@officerNordberg Ever ran into this before?

[2022-11-21 12:29] KramNamez opened #2173 "Add a "new project" notification"
### Current Behavior

Currently, there's no direct way to receive an alert about a new project being created. It would be possible to work around this by receiving the "BOM processed/consumed" notifications and tracking all projects separately for example, but this is duplicated effort.

### Proposed Behavior

Dependency-Track should offer a notification type NEW_PROJECT which triggers when a proj

[2022-11-21 12:34] KramNamez opened #2174 "Batch "Analysis Decision" notifications"
### Current Behavior

If I fill out the vulnerability analysis, Dependency-Track sends a notification for everything I do - adding a comment, setting a state, suppressing the vulnerability.

### Proposed Behavior

If I fill out the vulnerability analysis in one go, Dependency-Track sends a single notification containing all three changes. Logically, these are a single event and alert fatigue / ove

[2022-11-21 12:36] KramNamez commented on #2173
I figured that I'd take a shot at implementing this.

[2022-11-21 14:38] officerNordberg commented on #2104
We are using v4.6.2 and FuzzyMatchingEnabled with no errors that I can see.  My suggestion would be to stop the server and delete your VulnerableSoftwareIndex.  Restart it and make sure the indexer completes before restarting or testing again.  This takes a long time.  I've corrupted the index by doing successive reboots before it has completed.  I've noted here https://github.com/DependencyTrack/

[2022-11-21 17:25] #2165 closed

[2022-11-21 17:26] nscuro commented on #2162
Closing as this is not an issue on DT's side.

[2022-11-21 17:26] #2162 closed

[2022-11-21 17:34] nscuro commented on #2127
Rebuilding indexes can take a while, depending on how big the portfolio is and how beefy your host system.

See also my comment in https://github.com/DependencyTrack/dependency-track/issues/1605#issuecomment-1124182525

That said, the project indexes should eventually be rebuilt after restart. Is it still not happening?

[2022-11-22 12:53] rohan-birtia opened #2180 "GHSA vulenrabilities not showing."
### Current Behavior

Although I have enabled GHSA and all the GHSA vuln DB has been in the Dependency track dashboard. But it's not detecting the vulnerabilities. After enabling, Do I have to perform any extra steps?

As you can see from the attached screenshot, GHSA-36jr-mh4h-2g58 has not been detected. It's just an example, I have 30 repos, none of them have GHSA-related issue.

![image](https:

[2022-11-23 06:56] BlythMeister commented on #1989
This only seemed to happen for the first 24 or so hours.

Believe it to be due to incomplete SQL database statistics as new data added.

Don't think this is a real issue.

[2022-11-23 06:56] #1989 closed

[2022-11-23 07:00] BlythMeister opened #2181 "Same vulnerability different databases reported twice"
### Current Behavior

A vulnerability which exists in multiple databases are not linked so report as 2 issues (therefore doubling risk score)

### Steps to Reproduce

1.import BOM with vulnerability present that reported in NVD, GitHub and Sonatype

### Expected Behavior

Vulnerability are linked and only report once

### Dependency-Track Version

4.6.2

### Dependency-Track Distribution

Containe

[2022-11-23 07:03] BlythMeister opened #2182 "Duplicate suppression"
### Current Behavior

Suppress with a comment of "Duplicate"

Counts as a suppression

### Proposed Behavior

New flag for duplicate or new analysis reason of duplicate.

Flag should suppress but not include in suppression counts

### Checklist

- [X] I have read and understand the [contributing guidelines](https://github.com/DependencyTrack/dependency-track/blob/master/CONTRIBUTING.md#filing-issu

[2022-11-23 14:00] rkg-mm commented on #2173
I'd be happy to see this too :-) same situation as you are

[2022-11-23 14:28] rkg-mm opened #2183 "Analysis decisions in multiple project versions"
### Current Behavior

E.g. 10 versions of the same project exist in Dependency-Track. A vulnerability is found in a component which is contained in 9 of these.
Now, somebody needs to go through all versions and do the analysis decision/possibly suppression in each version separately.

Addition:
If the vulnerability was suppressed, because it has no relevance for this project, and a 11th project ve

[2022-11-23 14:43] KramNamez commented on #2173
Yes, and my current pull request keeps those semantics within Dependency-Track, although I'm not sure that it's really the right way to go.

But that's for a different issue / MR 🙂

[2022-11-23 16:33] BlythMeister opened #2184 "NULL error on policy violations"
### Current Behavior

[code]

### Steps to Reproduce

Unknown

### Expected Behavior

Not to error

### Dependency-Track Version

4.6.1

### Dependency-Track Distribution

Container Image

### Database Server

Microsoft SQL Server

### Database Server Version

_No response_

### Browser

Google Chrome

### Checklist

- [X] I have read and understand the [contributing guidelines](https://github.com

[2022-11-23 16:45] BlythMeister commented on #2184
This appears to happen when you had a policy violation which has analysis done and is then resolved (so needs to be deleted)

[2022-11-24 09:50] rightphp opened #2186 "User landing to "Home/Administration" by default"
### Current Behavior

We are using DT version v4.6.2.

Our users are connected using "OpenID Connect Users" feature. They first connect using SSO and then we assign permissions to them via terraform scripts.

Most of the users do not have admin permissions. I noticed that after login users are landing at  "Home/Administration" instead of  "Home/Dashboard".  Since they do not have admin permission

[2022-11-24 11:47] nscuro commented on #2186
Hey @rightphp, thanks for reporting!

The path users are redirected to after OIDC login is determined by the path they tried to access while unauthenticated.

So if they open `https://dtrack.example.com/admin`, then are presented the login form, then login via OIDC, they will be redirected to `/admin`. You should be able to see the URLs your users are initially trying to access in your reverse pro

[2022-11-24 16:56] valentijnscholten opened #2190 "Implement sort by Affected Projects in Vulnerabilities list"
### Current Behavior

Currently the list of all vulnerabilities cannot be sorted by affected project count.

### Proposed Behavior

Allow sorting the list of vulnerabilities by affected project count, as requested in https://github.com/DependencyTrack/frontend/issues/122

There can be several reasons to work on the most occurring vulnerabilities:
- triage them to make the state of the portfolio mo

[2022-11-24 21:16] mulder999 commented on #2127
Hi Niklas,

Thanks for reaching out.

Components, servicecomponents, cpe and vulnerability do eventually rebuild something but not license nor project (on one of my instance).

Since I am using thin provisioned rclone drive in my production setup, following your message, I even restored a DB backup on a plain basic docker test setup to test again with the data of the instance that has not restored

[2022-11-25 08:08] AndrewR777 commented on #2104
Hi [officerNordberg](https://github.com/officerNordberg),
_---We are using v4.6.2 and FuzzyMatchingEnabled with no errors that I can see_

Could you try it once again and set ALL the three 'Fuzzy' options ON?
Sometimes we need to restart the Tracker and wait for the 'internal analysis' task:

[code]

[2022-11-25 13:02] shizzgar opened #2193 "API /v1/project not all project are shown"
### Current Behavior

Our dep-track instance have very big ammount of projects (~156),
And when we are executing
/v1/project get request, not all
Projects are returned.

### Steps to Reproduce

1. Add 150 projects to deptarck
2. Request to /v1/project endpoint
3. Look at results and approve, that not all projects are shown.

### Expected Behavior

Return all projects
Or, maybe, implement some pagi

[2022-11-25 16:09] sahibamittal opened #2194 "Vulnerability alias synchronization correlates unrelated vulnerabilities"
### Current Behavior

**Issue**

Two unrelated alias objects below are being synchronised as one alias :

1. GO-2020-0023	<-> CVE-2015-10004
2. SNYK-PYTHON-DJANGO-451300 <-> GHSA-6c7v-2f49-8h26 <-> CVE-2019-12781

**Scenario:**

OSV scans 2 vulnerabilities and adds two aliases :
[GO-2020-0023 -> CVE-2015-10004] and [GHSA-6c7v-2f49-8h26 -> CVE-2019-12781].
Then, Snyk scans a new vulnerability with

[2022-11-25 16:12] sahibamittal commented on #2194
[vulnerability jsons.zip](https://github.com/DependencyTrack/dependency-track/files/10094110/vulnerability.jsons.zip)

[2022-11-26 21:52] officerNordberg commented on #2104
@AndrewR777 I will if you tried my script?

[2022-11-27 11:33] valentijnscholten commented on #2193
There is paging using `limit` and `offset` parameters, you can see from the network tab in the UI how it is used.

[2022-11-27 14:53] nathan-mittelette opened #2197 "Allow to bypass starting requirements"
### Current Behavior

Currently, when trying to start the dependency-track API, if your system does not meet the required requirements, the application will not start.

This behavior can force you to allocate a lot of resources.

### Proposed Behavior

I suggest keeping the current behavior but allowing the user to easily override the requirements using an environment variable.
We can create an **

[2022-11-27 16:37] officerNordberg commented on #2104
@stevespringett did something change with Alpine's event system?   I see

`
2022-11-27 16:27:09,988 INFO [DefaultObjectGenerator] Initializing default object generator
2022-11-27 16:27:09,997 INFO [DefaultObjectGenerator] Dispatching event to reindex licenses
2022-11-27 16:27:09,998 INFO [DefaultObjectGenerator] Dispatching event to reindex projects
2022-11-27 16:27:09,999 INFO [DefaultObjectGener

[2022-11-27 17:00] stevespringett commented on #2197
I know "a lot" is subjective, but I don't think 4.5 GB and 2 cores is "a lot". The system will not function correctly below 3GB.

https://docs.dependencytrack.org/getting-started/deploy-docker/

[2022-11-27 18:09] nathan-mittelette commented on #2197
I understand, but currently in my company we are running dependency-track API with 2Gi and 1 CPU because we don't have huge projects that needs a lot of memory while doing scans. Using dependency-track with this setup isn't perfect, but it's sufficient for our use.
Maybe if we allow users to bypass the requirements with obviously an warning at the start, that might help in some cases.

[2022-11-28 09:19] nscuro commented on #2194
At least in this specific case, I think this is due to how aliases are constructed in `SnykParser`. If a source reports multiple aliases, there should be one `VulnerabilityAlias` object being persisted that includes all those aliases. So something along the lines of:

[code]

However, `SnykParser` instead created a `VulnerabilityAlias` instance for each pair:

https://github.com/DependencyTrack/de

[2022-11-28 11:04] sahibamittal commented on #2194
This would still cause unrelated mapping in case Snyk doesn't report CVE alias (due to null check) :

`final var aliasC = new VulnerabilityAlias();
    aliasC.setSnykId("SNYK-PYTHON-DJANGO-451300");
    aliasC.setGhsaId("GHSA-6c7v-2f49-8h26");
    // aliasC.setCveId("CVE-2019-12781");
    qm.synchronizeVulnerabilityAlias(aliasC);`

It seems this would occur in any case where there are disjoint set

[2022-11-28 11:14] sgupta22altair commented on #2131
Hi @nscuro, when I delete all the components and then re-upload the SBOM then Its works, Yes the previous Project contains Number of Duplicates entries

[2022-11-28 14:14] jimklimov commented on #1599
Just another point of view at indirect dependencies :)

[2022-11-28 16:49] nscuro commented on #2104
@officerNordberg Thanks for investigating. I think the change was necessary because `EventSubsystemInitializer` also takes care of initializing `TaskScheduler`. The interval of many tasks in `TaskScheduler` has been made configurable, and the default configuration is populated in `DefaultObjectGenerator`.

Perhaps it makes sense to move the initialization of default config properties into its own

[2022-11-28 20:11] syalioune commented on #2104
That's exactly the reason. However that was maybe a bit strict since the default values can be derived from the enum `ConfigPropertyConstants` if the value is not already in the database.

Maybe create a distinct `IndexSubsystemInitializer` to make more explicit and decouple it from the `DefaultObjectGenerator`. That initializer could be last.

Totally agree.
@officerNordberg I don't know that muc

[2022-11-28 21:04] nscuro commented on #1935
Dabbled with this further, dumping my progress so far:

The secondary connection factory is not only used for schema and value generation, but also for *non-transactional* operations:

This behavior can be [turned off](https://www.datanucleus.org/products/accessplatform_6_0/jdo/persistence.html#_single_connection_mode) via `datanucleus.connection.singleConnectionPerExecutionContext=true`, however

[2022-11-29 09:27] pattkrajnik opened #2202 "Error was: Input length = 1 while publishing bom.xml in Jenkins pipeline for node.js applications"
### Current Behavior

After upgrade from 4.5.0 to 4.6.2 all Jenkins nodejs pipelines started to fail with the same error code.
Error was: Input length = 1

`[Pipeline] sh
+ case $- in
+ return
+ npx @cyclonedx/bom@3.10.6 --include-dev -o bom.xml
npx: installed 76 in 9.844s
[Pipeline] dependencyTrackPublisher
[DependencyTrack] Publishing artifact to Dependency-Track
[DependencyTrack] An error occur

[2022-11-29 10:33] WeissFabian opened #2205 "Cant access API for login POST http://localhost:8081/api/v1/user/login 404 (Not Found)"
### Current Behavior

When I try to login I get a "POST http://localhost:8081/api/v1/user/login 404 (Not Found)" error.

The docker container starts up fine:
![image](https://user-images.githubusercontent.com/50834586/204504773-0274ec8d-b79e-4e61-8417-094e10fa2915.png)

As far as I can see the frontend container also includes the correct API path:
![image](https://user-images.githubusercontent.com

[2022-11-29 11:38] 06kellyjac opened #2206 "use "dependency management" feature of maven"
### Current Behavior

Currently you're using maven to track the dependencies of `dependency-track` however maven doesn't have a concept of lockfiles to pin the versions of transitive dependencies.

Even if I can see the transitive versions via the SBOM you publish each release, I should be able to track the dependencies of `dependency-track` for a specific tag to ensure I can build it with the sam

[2022-11-29 12:06] AndreiTrW opened #2207 "dl.google.com:443 failed to respond"
### Current Behavior

boms while usual adding process either fail to add or show components at all or adds not all components

dl.google.com:443 failed to respond shows in logs

### Steps to Reproduce

stock settings..
### Expected Behavior

adding sbom to analyse

### Dependency-Track Version

4.6.2

### Dependency-Track Distribution

Executable WAR

### Database Server

PostgreSQL

### Database

[2022-11-29 12:11] syalioune commented on #2205
Hello @WeissFabian,

Few questions :

- Where do you see that "POST http://localhost:8081/api/v1/user/login 404 (Not Found)" error ? Can you provide some screenshots ?
- What do you see in docker compose logs ?
- Which URI do you use to access the frontend ?

[2022-11-29 12:11] rightphp commented on #2186
Helllo @nscuro,

I confirmed with user and found that he tried to access /admin unauthenticated and see that 403 after successful login because he do not have permission to see admin page.

www.example.com/admin url was shared by a user to him who had admin access.

Thanks for sharing that information and looking into it.

[2022-11-29 12:11] #2186 closed

[2022-11-29 12:12] nscuro commented on #2186
@rightphp Thanks for confirming!

[2022-11-29 12:27] syalioune commented on #2206
Hello @06kellyjac

I'm not sure to understand your use case, however :

- Maven dependency management is not an alternative to a "package-lock", it only serves for maven project's hierarchy to centralize dependencies versions
- Maven does not work like NPM  with acceptable version ranges. To the best of my knowledge,  a given POM file always result in a deterministic and reproductible set of libra

[2022-11-29 12:34] WeissFabian commented on #2205
**_Where do you see that "POST http://localhost:8081/api/v1/user/login 404 (Not Found)" error ? Can you provide some screenshots ?_**
I see the error when checking the chrome console, as well as getting a popup error message
<img width="798" alt="image" src="https://user-images.githubusercontent.com/50834586/204529187-6ddeb914-99a4-4fe9-8f96-37106b5d4ee1.png">

_**What do you see in docker compose

[2022-11-29 12:37] 06kellyjac commented on #2206
Ok so for example

https://github.com/DependencyTrack/dependency-track/blob/master/pom.xml#L93

`pkg:maven/com.konghq/unirest-java@3.13.11?type=jar`

depends on `pkg:maven/org.apache.httpcomponents/httpclient@4.5.13?type=jar` (among other things)

which depends on `pkg:maven/org.apache.httpcomponents/httpcore@4.4.13?type=jar`

since they're all "type=jar" is the jar artifact always used & in this

[2022-11-29 12:39] syalioune commented on #2202
Hello @pattkrajnik
Did you check that `bom.xml` is correctly generated ? If yes, can you upload it manually to ensure that the issue is indeed with Dependency Track (and not with your pipeline or jenkins plugin) ?

[2022-11-29 12:46] mehrdad2000 opened #2208 "Server Error (0)"
### Current Behavior

Hi
after run docker version of dependency-track, when i try to login with admin user give me "Server Error (0)"
![dt](https://user-images.githubusercontent.com/26499665/204533586-3c3f9c66-6204-45cc-88dc-34c14d010a11.jpg)

Any idea?
Thanks

### Steps to Reproduce

remove everything and start to run it from scratch.

### Expected Behavior

login successfully

### Dependency-Tra

[2022-11-29 12:51] pattkrajnik commented on #2202
We've checked with my colleagues bom.xml generated locally and it works fine, not yet sure how it looks on Jenkins, but I'll see and come back. Maybe it is worth mentioning that this issue is affecting all pipelines with nodejs applications we have and that were working before the upgrade.

[2022-11-29 13:34] WeissFabian commented on #2208
This is probably because of the CORS Policy Security of Chrome (see chrome console), this happens if both the front and backend are on localhost.

Try to start Chrome with the Flags: --disable-web-security --user-data-dir=~/devChromeTemp --cookies-without-same-site-must-be-secure
this will disable this security feature and it should work.

Like: **chrome.exe --disable-web-security --user-data-dir=

[2022-11-29 13:50] valentijnscholten commented on #2208
I think it's better to investigate why. Advising users to disable web security completely in chrome doesn't sound like the right thing todo. @mehrdad2000 can you check the netwerk / console tab on what error messages are shown in the browser? It might be easier to discuss this on Slack: http://dependencytrack.org/slack/invite

[2022-11-29 13:52] valentijnscholten commented on #2202
Which component is generating the error? Your own script? DT API server? Dependency track jenkins plugin?

[2022-11-29 13:54] valentijnscholten commented on #2205
The API is running on port **8080**, not 8081.

[2022-11-29 14:13] syalioune commented on #2206
Yes, at build time, maven is going to download all transitive dependencies of a given module for compilation.
For example, when `unirest-java@3.13.11` is built `httpclient@4.5.13` and `httpcore@4.4.13` are automatically downloaded. Same goes for Dependency Track.

No you don't. You just have to clone the source with the appropriate tag and perform a `mvn clean package`. Maven will do the job for y

[2022-11-29 14:47] 06kellyjac commented on #2206
For example, when unirest-java@3.13.11 is built httpclient@4.5.13 and httpcore@4.4.13 are automatically downloaded. Same goes for Dependency Track.

My assumption there was the only download is the top-level `unirest-java@3.13.11` jar since it has already been built. Does it actually need to download all transitive `jar`s in order to do a build?

My point is I either need to work those tags out ou

[2022-11-29 16:09] pattkrajnik commented on #2202
@syalioune We've checked and bom.xml seems to be generated correctly.
@valentijnscholten this is coming from Jenkins on after executing @cyclonedx/bom@3.10.6, since the error is so enigmatic it is hard to point out what is causing it.
We've checked Dependency Track logs and there's no errors in it.

[2022-11-29 16:14] valentijnscholten commented on #2202
What is the source of the pipeline? `@cyclonedx/bom@3.10.6` only generates a BOM, it doesn't do any publishing.

[2022-11-29 16:35] nscuro commented on #2197
IMO it's OK to provide the ability to opt out of this restriction.

Ideally we would have recommendations as to what workload requires (approximately) how many resources. But we don't currently.

At the moment we have users modifying DT internally to disable the check, and DT runs fine for them. There were multiple occasions in Slack where this was mentioned.

[2022-11-29 16:39] nscuro commented on #2208
Did you see this section in the `docker-compose.yml` file?

[code]

To me it looks like the API server container is either not running, or you deployed DT to a dedicated server without updating the `API_BASE_URL` environment variable as advised in `docker-compose.yml`.

[2022-11-29 16:51] 06kellyjac commented on #2206
Ok, after discussing this I think the situation is that maven is the source of truth for artifacts and their checksums. Maven doesn't really have a concept of commiting a lockfile of those checksums to the repo. But every release comes with the SBOM so that's about all I'd need for most of the things I'm interested in trialing.

I'll close this issue but there might be some things that can be adop

[2022-11-29 16:51] #2206 closed

[2022-11-29 17:09] syalioune commented on #2205
That's odd.
What happens when you directly request http://localhost:8081/api/version ?
Can you also please completely expand axios error payload in chrome dev console ?

[2022-11-29 17:34] nscuro commented on #2193
Paging is there and works by either using `limit`+`offset`, or `pageNumber`+`pageSize` query parameters. The total number of items available in a given endpoint is indicated via the `X-Total-Count` response header.

Paging is working, as this is what the frontend is using for various views. Feel free to reopen if you run into any bugs related to paging.

[2022-11-29 17:34] #2193 closed

[2022-11-29 18:35] nathan-mittelette commented on #2197
Yes, it's exactly what we've done in my company, and I taught that we may not be alone and it can be useful to provide an implementation to properly disable the check.

[2022-11-29 21:47] mehrdad2000 commented on #2208
@nscuro here is my docker compose
https://dependencytrack.org/docker-compose.yml

[2022-11-29 22:40] syalioune commented on #2202
As I understand, the source of the error is Jenkins Dependency Track plugin.
The error message can be traced back to [ApiClient](https://github.com/jenkinsci/dependency-track-plugin/blob/afb3aa7f9d2a986675a9658463249ab19fc76cb8/src/main/java/org/jenkinsci/plugins/DependencyTrack/ApiClient.java#L252) and [Message.properties](https://github.com/jenkinsci/dependency-track-plugin/blob/master/src/main/

[2022-11-29 22:48] syalioune commented on #2180
Hello @rohan-birtia, can you please provide an anonymized SBOM for reproduction ?
In the given example, DT behavior seems normal to me as package d3-color is totally different from @types/d3-color.

[2022-11-30 07:06] mehrdad2000 opened #2209 "can't create new user"
### Current Behavior

Bad request (400)

### Steps to Reproduce

reinstall

### Expected Behavior

create user successfully

### Dependency-Track Version

4.6.2

### Dependency-Track Distribution

Container Image

### Database Server

PostgreSQL

### Database Server Version

_No response_

### Browser

Google Chrome

### Checklist

- [X] I have read and understand the [contributing guidelines](htt

[2022-11-30 07:59] Breee commented on #2150
Would highly appreciate that, currently this is a massive blocker for us to push mass adoption of the tool within the company

[2022-11-30 08:51] rkg-mm commented on #2139
Also affects other mails:

![image](https://user-images.githubusercontent.com/12029804/204750686-08b6f75b-9e0f-4fc4-88d0-55fdfd753402.png)

[2022-11-30 10:35] mehrdad2000 opened #2210 "generate sbom for c++ project that use custom make file"
### Current Behavior

Hi
have an c++ project that use custom make file to build.
How can I create sbom for this project?

FYI: I don't want to use Cmake.

Any Idea?
Thanks

### Steps to Reproduce

try cyclonedx-conan but seems need cmake  https://github.com/CycloneDX/cyclonedx-conan

### Expected Behavior

create sbom for c++ project that use customer make file.

### Dependency-Track Version

4.6.

[2022-11-30 12:33] jrobledog opened #2212 "Policy with ALL operator not working"
### Current Behavior

When a policy with multiple conditions is created and the operator is ALL, the evaluation assigns a policy vulnerability per each condition vulnerated. Policy evaluator doesnt seem take into account the "ALL" operator and it is working like if policy was ANY operator always.

### Steps to Reproduce

1. Create new Policy, operator all
2. create condition license group IS NOT A

[2022-11-30 14:41] rkg-mm opened #2215 "Respect hierarchy in policy definitions"
### Current Behavior

If you need different policies for different types of applications, you need to set the policy limitation to each version of each project, and must not forget to add it, which gets difficult if build pipelines create their own versions.

### Proposed Behavior

With https://github.com/DependencyTrack/dependency-track/pull/2013 we started to make use of project hierarchy for no

[2022-11-30 14:42] rkg-mm commented on #2215
We will have a look into this and provide a PR

[2022-11-30 15:17] nscuro commented on #2207
Hmmm... I don't see any location in our code where we call out to `dl.google.com`, but it may just be used as a CDN for a package repository.

Can you please post the complete stacktrace of the error? `dl.google.com:443 failed to respond` by itself is not that helpful to us. 😅

[2022-11-30 15:51] mehrdad2000 commented on #2208
@nscuro after set api base url explicitly, issue resolved.
But it is sounds good from user point of view that fix in source, and after run docker compose everything work correctly without any further user action.

[2022-11-30 15:51] codenox-vs opened #2217 "Unable to send MS Teams notification: Value in JsonObjects name/value pair cannot be null"
### Current Behavior

Any action which should send a teams notification results in following exception.
The default template "Microsoft Teams" is used.
We have this notification for a long time, so this came with a surprise  after we did not receive any news for some time from our dependency track installation.

2022-11-30 15:37:37,796 [] ERROR [alpine.event.framework.LoggableUncaughtExceptionHand